/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body{
    padding: 30px;
}
#block{
    border: 5px solid red;
    border-radius: 50px ;
    max-width: 425px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
#block div{
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    /* background-color: brown; */
}
#block_1{
    background-color: rgb(72, 11, 241);
    border-radius: 45px 0 0 0;
    width: 50%;
    top: 0;
    left: 0;
    position: absolute;
}
#block_2{
    background-color: red;
    border-radius: 0 45px 0 0;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
}

#block_3{
    background-color: rgb(199, 198, 204);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 415px;
    height: 415px;
    padding: 7px;
    
}

#block_4{
    background-color: rgb(255, 9, 255);
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}